@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<article class="text-red-400 text-center w-full">
    <h1>Access denied</h1>
    <p>You do not have access to this resource.</p>
</article>
